version: '3'

services:

  api.gateway:
    image: nginx:alpine
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"

  api.auth:
    build: ./backend/auth
    volumes:
      - ./backend/auth/src:/usr/src/app
    command: sh -c "npm install && npm start"
    container_name: api.auth
    env_file:
      - .env

  socket.jonny:
    build: ./notifications/websocket
    volumes:
      - ./notifications/websocket/src:/usr/src/app
    command: sh -c "npm install && npm start"
    container_name: socket.jonny
    environment:
      - SERVER_NAME=SocketJonny
      - SERVER_PORT=80
    env_file:
      - .env


  redis.sockets:
    image: 'redis:alpine'
    volumes:
      - './volumes/db/redis/sockets:/data'

  front.public:
    build:
      context: ./frontend/public  # Adjust this path based on your frontend project structure
       # Adjust the Dockerfile name if needed
    volumes:
      - ./frontend/public:/usr/src/app
    command: sh -c "npm install && npm start"