# Секретный ключ - который будет использоваться для верификации токена
# Чем он сложнее - тем сложнее вас взломать
JWT_KEY=QweAsdZxc!23

REDIS_SOCKET_HOST=redis.sockets
REDIS_SOCKET_PORT=6379

# RabbitMQ for project
RABBITMQ_DEFAULT_USER=root
RABBITMQ_DEFAULT_PASS=password
RABBITMQ_SERVER=rabbit.mq
RABBITMQ_PORT=5672

RABBITMQ_QUEUE_AUTH=auth

# Очередь для отправки уведомлений пользователю
RABBITMQ_QUEUE_NOTIFICATIONS=notifications
RABBITMQ_QUEUE_NOTIFICATIONS_EMAIL=notifications.email

# Mail config
MAIL_MAILER=smtp
MAIL_HOST=smtp.ukr.net
MAIL_PORT=465
MAIL_USERNAME=nika_web@ukr.net
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=nika_web@ukr.net
MAIL_FROM_NAME='Test Mail'

#min.io
MINIO_ROOT_USER=root
MINIO_ROOT_PASSWORD=password
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

MINIO_ENDPOINT=storage.minio
MINIO_PORT=9000

# Azure Storage
AZURE_STORAGE_ACCOUNT_NAME=
AZURE_STORAGE_ACCOUNT_KEY=
AZURE_STORAGE_ACCOUNT_CONNECTION_STRING=

# Computer Vision
RABBITMQ_QUEUE_COMPUTER_VISION=
COMPUTER_VISION_KEY=
COMPUTER_VISION_ENDPOINT=